body {
    background-color: rgb(40,42,44);
    font-family: "Open Sans", sans-serif;
    text-align: left;
}
h1{
	color: rgb(255, 255, 255);
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	color: rgb(255, 255, 255);
	font-style: italic;
	font-size: 110%;
}
